body{
        margin:0 auto;
        width: 80%;
        font-size: 12px;
        line-height: 25px;
    }
.pid_info{
    border: 1px solid #777777;
    border-collapse: collapse;
    text-align:center;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    line-height: 25px;
}
.frame_width{
    width: 20%;
}
.font_bolder{
    font-size: 15px;
    font-weight: 800;
    font-family: 黑体,幼圆,Arial;
}
.pid_img, .pid_pid, .pid_name, .pid_price, .ad_name, .cat_id, .pid_tip, .debug_info, .ad_id, .pos{
    border-bottom: 1px solid #aaa;
    text-align:center;
}
.pid_name{
    height: 25px;
    overflow: hidden;
}
.ad_name{
    height: 25px;
    overflow: hidden;
}
.extend_reco_pid_div{
    display:inline-block;
    float: left;
    border: 1px solid #bbb;
    width: 280px;
    margin-top: 10px;
}
.debug_info{
    height:100px;
    overflow: hidden;
}
.debug_overflow{
    overflow: hidden;
    color: blue;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#req_cnt{
   line-height: 10px;
}