<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{page_title}}</title>
</head>
<body>
<div>
    <h1>{{header_text}}</h1>
</div>
	<div>
        <ul>
            <li><a href="/search/" target="_blank">查看搜索广告测试页</a></li>
            <li><a href="/category/" target="_blank">查看分类广告测试页</a></li>
            <li><a href="/product/" target="_blank">查看单品广告测试页</a></li>
            <li><a href="/clicklog/" target="_blank">查看广告点击日志及扣费信息联调测试页</a></li>
            <li><a href="/showlog/" target="_blank">查看广告曝光信息联调测试页</a></li>
        </ul>
	</div>
</body>
</html>